.image1{
  background: url("images/image1.webp");
}
.image2{
  background: url("images/image2.webp");
}
.image3 {
background: url("images/image3.webp");
}
.image4 {
  background: url("images/image4.webp");
}
.image5 {
  background: url("images/image5.webp");
}
.image6 {
  background: url("images/image6.webp");
}
.container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-image 5s;
  transition: background-image 5s;
  transition-timing-function: cubic-bezier(0.57, 0.13, 0.38, 0.19);
}
.timer {
  color: var(--black);
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
.bg-80 {
  background-color: rgb(159 191 225);
}