.image1{
  background: url("~/public/images/image1.webp");
}
.image2{
  background: url("~/public/images/image2.webp");
}
.image3 {
background: url("~/public/images/image3.webp");
}
.image4 {
  background: url("~/public/images/image4.webp");
}
.image5 {
  background: url("~/public/images/image5.webp");
}
.image6 {
  background: url("~/public/images/image6.webp");
}
.container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.5s; */
  -webkit-transition: background-image 5s;
  transition: background-image 5s;
  transition-timing-function: cubic-bezier(0.54, 0.08, 0.68, 0.19);;
}
.timer {
  color: var(--white);
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
.bg-80 {
  background-color: rgb(0, 0, 0, 0.8);
}